* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "sans-serif";
}

header #header-logo {
  display: flex;
  justify-content: center;
}

header h1 {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 25px;
}

header h2 {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 20px;
}

div#register-profile {
  text-align: center;
}

div#register-profile input {
  margin: 5px;
  width: 250px;
}

div#register-profile input[type="radio"] {
  margin: 15px;
  width: initial;
}

.typeSpan {
  font-size: 16px;
}

.container-arrow {
  position: absolute;
  top: 63%;
  right: 399px;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #555555;
  cursor: pointer;
}

#loginexists,
#loginnotexists {
  font-size: 11px;
  text-align: center;
}

div.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div.card {
  width: 250px;
  margin: 25px;
}

body#page-login div.container-arrow {
  top: 380px;
}

body#page-register {
  margin: 2vh;
}

body#page-login {
  margin: 10vh;
}

.container-pesquisadores {
  text-align: center;
}

.container-pesquisadores button {
  margin: 15px;
  background-color: #555555;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.container-pesquisadores button:hover {
  opacity: 1;
}

#cadastrar-projeto,
#editar-projeto,
#deletar-projeto {
  text-align: center;
}

#cadastrar-projeto input,
#editar-projeto input,
#deletar-projeto input {
  width: 250px;
  margin: 15px 0;
}

#cadastrar-projeto textarea,
#editar-projeto textarea {
  width: 250px;
}

#cadastrar-projeto button,
#editar-projeto button,
#deletar-projeto button {
  margin-top: 15px;
}

.card-content p {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .container-arrow {
    position: relative;
    top: 88%;
    right: initial;
    text-align: center;
    margin: 15px 100px 0 100px;
  }
}
